
  .entry-content,.container{
    background:#fff !important;
  }
  .product-wrapper {
      display: grid !important;
      grid-template-columns: repeat(4,1fr) !important;
      grid-gap: 5px !important;
      max-width:1400px !important;
      width: 80% !important;
      margin:0 auto;
  }
  
  .product-wrapper .product-row {
      display: flex!important;
      margin:40px 0!important;
      box-shadow: 0px 40px 23px 0px #ccc!important;
      flex-direction: column;
      align-items: flex-start;
  }
  .product-wrapper .product-column.col-left{
    max-width: 300px!important;
    width:100%!important;
  }
  .product-wrapper .product-column img{
    width:100%!important;
    height:264px;
  }
  .product-wrapper .product-column.col-right{
    padding-left: 10px !important;
    padding-top: 15px;
    padding-bottom: 11px;
  }
  .product-wrapper a.product-title {
    font-size: 25px !important;
    font-family: sans-serif !important;
    text-transform: capitalize !important;
    text-decoration: none !important;
    letter-spacing: 1px !important;
    font-weight: 700 !important;
    line-height: 1.2em;
  }
  .product-wrapper  span.h-title {
      font-size: 18px!important;
      font-family: sans-serif !important;
      color: #141313c7!important;
      font-weight: 600!important;
          max-width: 90px!important;
      /* width: 100%!important; */
      display: inline-block!important;
  }
  
  .product-wrapper span.h-content {
      font-size: 18px!important;
      font-family: sans-serif!important;
      letter-spacing: 1px!important;
      color: #585353!important;
  }
  .product-wrapper a.button.add_to_cart_button.product_type_simple.ajax_add_to_cart {
      background: #1b3142fc !important;
      padding: 9px 23px!important;
      font-family: sans-serif!important;
      margin-top: 11px!important;
      border-radius: 12px!important;
      font-weight: 600!important;
      color: #fff!important;
      display: inline-block;
      text-decoration: none;
  }

  .product-widget .product-row {
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    max-width: 300px;
    margin-bottom: 8px;
}

.product-widget .product-column.col-left {
    padding-left: 15px;
}

.product-widget .product-column.col-right {
    padding-left: 15px;
}

.product-widget a.product-title {
    text-decoration: none;
    font-weight: 700;
}

.product-widget span {
    font-size: 12px;
}

.product-widget a.button {
    font-size: 14px;
    text-decoration: none;
    color: brown;
    font-weight: 600;
}
.product-widget img{
    max-width:100px;
}